# Data Exploration for World Temperature Data

In [3]:
import pandas as pd

In [4]:
raw_worldtemp = pd.read_csv('../../data2/GlobalLandTemperaturesByCity.csv')

In [5]:
#what does it look like?
raw_worldtemp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [7]:
#it started from 1743??? so ancient
print(raw_worldtemp['dt'].min())
print(raw_worldtemp['dt'].max())

1743-11-01
2013-09-01

In [10]:
#to be frank i don't understand why we need temperature data, but it's nice to have the country to city link as well as lat lon
#i'll check if lat lon information are all valid
raw_worldtemp.isnull().sum()

dt                                    0
AverageTemperature               364130
AverageTemperatureUncertainty    364130
City                                  0
Country                               0
Latitude                              0
Longitude                             0
dtype: int64

In [11]:
#since it's all valid, and i can't really think of how temperature is needed here, i'll use it as a source for cities lat lon
citieslocation = raw_worldtemp.iloc[:,3:].drop_duplicates()

In [13]:
citieslocation.shape

(3510, 4)

In [14]:
citieslocation.head()

          City     Country Latitude Longitude
0        Århus     Denmark   57.05N    10.33E
3239     Çorlu      Turkey   40.99N    27.69E
6478     Çorum      Turkey   40.99N    34.08E
9607   Öskemen  Kazakhstan   50.63N    82.39E
11925   Ürümqi       China   44.20N    87.20E

In [27]:
#check count of cities by country
citieslocation.iloc[:,0:2].groupby('Country').count().sort_values(by = 'City',ascending = False).head(10)

               City
Country
India           391
China           380
United States   257
Brazil          220
Japan           175
Russia          156
Indonesia       145
Mexico           97
Nigeria          91
Germany          81