In [1]:
import pandas as pd

# port code

In [16]:
raw_port = pd.read_csv('../rawdata/USport.txt',sep = '|')

In [17]:
raw_port.head()

  port                  portname            state
0  ALC                     ALCAN  AK
1  ANC                 ANCHORAGE      AK
2  BAR  BAKER AAF - BAKER ISLAND               AK
3  DAC             DALTONS CACHE          AK
4  PIZ    DEW STATION PT LAY DEW               AK

# countries

In [21]:
raw_countries = pd.read_csv('../rawdata/countries.txt',sep = '|')

In [23]:
raw_countries.head()

   countriescode                                          countries
0            582  MEXICO Air Sea, and Not Reported (I-94, no lan...
1            236                                        AFGHANISTAN
2            101                                            ALBANIA
3            316                                            ALGERIA
4            102                                            ANDORRA